<li style='list-style: none; font-size: 10px; font-weight: 500; display: flex'>
  <img
    src='{{flags.svg}}'
    alt='{{name.official}}'
    width='30px'
    height='20px'
    style='margin-right: 10px;'
  />
  <h2>{{name.official}}</h2>
</li>