.form-container {
  background-color: pink;
  width: 100%;
  height: 40px;
  position: fixed;
}

.search-form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 40px;
  border-radius: 50%;
  padding: 5px;
}

.input {
  border-radius: 5px;
  margin-right: 10px;
  padding: 5px;
}

.image-container {
  width: 100%;
  height: 160px;
}

.button {
  border-radius: 5px;
  background-color: #fff;
}

.image-link {
  width: calc(100% / 4 - 14px);
  margin: 7px;
  text-decoration: none;
}
/* .photo-card {
  width: calc(100% / 4 - 14px);
  margin: 7px;
} */

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  width: 100%;
  height: 100%;
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-item {
  display: grid;
  text-align: center;
  font-size: 12px;
  color: #000;
}

.load-more {
  display: block;
  height: 30px;
  margin: 15px auto;
  border-radius: 5px;
  background-color: pink;
}

.load-more.is-hidden {
  display: none;
}

/*===============================================================
стілі з 10-ї домашки
 * {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
} */
/* ======================================================= */

/* <!-- другое решение --> */

/* .search-box {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f3a5d0;
  z-index: 1;
}

.search-form {
  position: relative;
  /* align-items: center; */
/* }

input[name='searchQuery'] {
  padding: 5px;
  /* height: 30px; */
/* border-radius: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
} */

/* button[type='submit'] {
  position: absolute;
  top: 8px;
  right: 5px;
  background-color: transparent;
  border: none;
} */

/* button[type='submit']:hover .search-svg {
  fill: #f3a5d0;
} */

/* -----------------IMG--------------- */

/* .gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
} */

/* .photo-link {
  color: black;
  text-decoration: none;
  width: calc(100% / 4 - 14px);
  margin: 7px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform, 250ms, linear;
}

.photo-link:hover {
  transform: scale(1.03);
}

.img-thumb {
  width: 100%;
  height: 187px;
}

img {
  display: inline-block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: -15px;
}
.info-item {
  text-align: center;
  font-size: 10px;
  width: calc(100% / 4 - 14px);
}

.load-more {
  display: block;
  height: 30px;
  margin: 15px auto;
  /* border: 2px solid; */
/* border-radius: 5px;
  background-color: #f3a5d0;
} */

/* .load-more:hover {
  background-color: #82b74b;
  border: 2px solid inherit;
} */

/* .load-more.is-hidden {
  display: none;
}  */
